.Stepper__container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: teal;
  color: white;
}
.Stepper__content {
  flex-grow: 1;
}
.Stepper__buttons {
  display: flex;
  justify-content: flex-end;
}

.Stepper__buttons > button {
  color: inherit;
}
