.page__content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template: auto auto 1fr/ 30% 70%;
  grid-gap: 15px;
}

/* LIST - Page content head */
.page__content ul {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
}
.page__content ul li {
  padding: 20px 30px;
}

/* INFORMATION - Left aside */
.page__content__information {
  grid-row: 2 / 4;
}

.information__title {
  text-align: center;
}
.information__explanation {
  text-align: left;
}

/* INSTRUCTIONS - Right-Above section */
.instructions {
  text-align: center;
}

/* SHARED STYLES */
.information__title,
.instructions__title {
  padding: 10px 0px;
  font-weight: 500;
}

.page__content ul,
.information__title,
.instructions__title {
  font-size: 22px;
}

.information__explanation,
.instructions__explanation {
  font-size: 18px;
}
