.nav {
  display: flex;
  font-size: 24px;
  box-shadow: 0px -5px 14px 4px rgba(0, 0, 0, 0.2);
}

.nav__item {
  padding: 30px 40px;
}

.nav__item:nth-child(2) {
  margin-left: auto;
}

.nav__item a:link,
.nav__item a:link,
.nav__item a:visited,
.nav__item a:hover,
.nav__item a:active,
.nav__item a:focus {
  color: black;
  text-decoration: none;
}
